.pokedex {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pokemonImgContainer {
  display: flex;
  width: 100%;
  height: 10%;
  background-image: url('../Monsterball_BG2.png');
  justify-content: center;
  align-items: center;
}

.pokemonImg {
  height: 150px;
  width: auto;
  text-align: center;
  flex: 0 0 auto;
}

.pokemonName {
  padding: 10px 20px 10px 20px;
  width: 25%;
  height: 20%;
  border-radius: 8px;
  box-shadow: 8px 8px 0 #d9d9d9;
  text-align: left;
  background-color: #fff;
  color: black;
}
.statusContainer {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center
}
.statusL {
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 4px solid #e6e6e6;
  margin: 10px;
  padding: 10px;
}
.statusR {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  border: 4px solid #e6e6e6;
  margin: 10px;
  padding: 10px;
}
.description {
  width: 90%;
  border-radius: 8px;
  border: 4px solid #e6e6e6;
  margin: 10px;
  padding: 10px;
}
.hpColumn {
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.hp {
  width: 20%;
  margin-right: 10px;
}
.hpGage {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.attack {
  width: 20%;
  margin-right: 10px;
}
.attackColumn {
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.attackGage {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.defense {
  width: 20%;
  margin-right: 10px;
}
.defenseColumn {
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.defenseGage {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.spAttack {
  width: 20%;
  margin-right: 10px;
}
.spAttackColumn {
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.spAttackGage {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.spDefense {
  width: 20%;
  margin-right: 10px;
}
.spDefenseColumn {
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.spDefenseGage {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.speed {
  width: 20%;
  margin-right: 10px;
}
.speedColumn {
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.speedGage {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}


.yellowGage{
  width:100%;
  height:100%;
  border-radius:5px;
  margin-right: 3px;
  background-color: #fc0;
}

.whiteGage{
  width:100%;
  height:100%;
  border-radius:5px;
  margin-right: 3px;
  background-color:darkgray
}

.continueButtonContainer {
  display: flex;
  height: 30%;
  width: 100%;
  background-image: url('../Monsterball_BG2.png');
  justify-content: center;
  padding: 10px 0px 10px 0px;
}
.continueButton {
  width: 45%;
  height: auto;
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: center;
}
.continueButtonImg {
  width: 150px;
  height: auto;
}
